* {
    margin: 0; padding: 0;
}
#root {
    height: 100%;
    overflow: hidden;
    background-color: #CCCCCC;
}
html {
    font-size: 100px;
}
.mobile {
    width: 375px;
    height: 667px;
    position: relative;
    overflow: scroll;
    background-color: #f7f7f7;
}
